:root {
  --white: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--Slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  padding: 1rem;
  width: 20rem;
  background-color: var(--white);
  border-radius: 1rem;
  text-align: center;
  font-size: 0.9rem;
  margin: 2rem;
}

img {
  width: 100%;
  border-radius: 0.5rem;
}

h2 {
  font-weight: 700;
}

img,
h2 {
  margin-bottom: 1.5rem;
}

p {
  color: var(--Slate-500);
  font-size: 1rem;
  margin-bottom: 1.7rem;
}

@media (max-width: 25em) {
  .container {
    width: 100%;
  }
}
